body {
    background-color: rgb(39, 39, 39);
    text-align: center;
    font-family: "Montserrat SemiBold";
    color: black;
}
h1 {
    font-size: 24px;
    transition-timing-function: ease-in-out;
    font-weight: bolder;
    text-align: center;
    position: relative;
    font-family: "Montserrat SemiBold";
    transform-origin: center center;
    animation: pulse 0.5s infinite alternate ease-in-out;
    color: rgb(255, 255, 255);}

@keyframes pulse {
  0%   { transform: scale(1); }
  100% { transform: scale(1.05); }
}
button[name="button1"] {
    position: relative;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    font-family: "Montserrat SemiBold";
    width: 120px;
    height: 40px;
    background-color: rgb(48, 48, 48);
    border-radius: 10px;
    color: white;
}
button[name="button2"] {
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    font-family: "Montserrat SemiBold";
    width: 130px;
    height: 40px;
    background-color: rgb(48, 48, 48);
    border-radius: 10px;
    color: white;
}
button[name="button3"] {
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    font-family: "Montserrat SemiBold";
    width: 120px;
    height: 40px;
    background-color: rgb(48, 48, 48);
    border-radius: 10px;
    color: white;
}

button:hover {
    box-shadow: 0 0 10px rgb(150, 150, 150);
    background-color: rgb(65, 65, 65);
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
button:not(:hover) {
   
    background-color: rgb(48, 48, 48);
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

